@import url(modal.css);

:root {
    --card-width: 200px;
    --card-height: 300px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
    --slider-padding: 5rem;
    --handle-size: 2.5rem;
    --img-gap: .25rem;
}

body,
html {
    height: 100%;
}

body {
    margin: 0%;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}


*, *::after, *::before {
    box-sizing: border-box;
}

/* Back to content */
/* Landing Page */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    flex-grow: 1;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}

.logo {
    height: 80px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

.right ul {
    list-style: none;
    display: flex;
    gap: 4vw;
    font-size: 1.6rem;
    font-weight: 500;
}

.right a {
    display: block;
    padding-bottom: 5px;
    margin: 10px 0;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
    position: relative;
    color: white;
    text-decoration: none;
    background:
    linear-gradient(currentColor 0 0) 0 100% /var(--d, 0) 3px no-repeat,
    linear-gradient(currentColor 0 0) 100% calc(100% - 6px) /var(--d, 0) 3px no-repeat;
    transition: 0s 0.5s, background-size 0.5s;
}

.right a:hover {
    --d: 100%;
    background-position: 0% calc(100% - 3px), 100% calc(100% - 3px);
    transition: 0.3s, background-position 0.3s 0.3s;
    font-weight: 900;
}

.logo img {
    max-height: 60px;
    width: auto;
}

.landing-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),url('./images/image-nine.jpeg');
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin: 0;
}

.content-container {
    width: 100%;
    position: absolute;
    top: 35%;
    display: flex;
    justify-content: space-between;
}

.content {
    margin-left: 20%;
    color: white;
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}

.socials {
    display: flex;
    margin-right: 2vw;
}

.socials ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
}

.socials img{
    width: 3rem;
    filter: brightness(0) invert(1);
    transition: all 0.5s ease 0s;
}

.socials .insta:hover,
.socials .gmail:hover,
.socials .linkedin:hover {
    filter: brightness(1) invert(0);
    transition: all 0.5s ease 0s;
    transform: scale(1.25, 1.25);
}

.author {
    font-size: 4em;
    font-weight: 700;
}

.description {
    font-size: 2em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-btn {
    border: none;
    background: #13182e;
    color: #ffffff;
    font-weight: 100;
    font-size: 1.2em;
    padding: 15px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
    background-color: rgb(8, 27, 68);
    background: linear-gradient(270deg, #113966, rgb(8, 27, 68));
}

.main-btn:hover {
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
    background: white;
    transition: all 0.6s ease 0s;
}


/* Content Preview/Home Page */
.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 50%;
    position: absolute;
    left: 25%;
}

.slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 450ms ease-in-out;
}

.slider > img {
    image-resolution: from-image 50dpi;
    max-width: calc(133.5% / var(--items-per-screen));
    max-height: 20rem;
    flex: 0 0 calc(133.5% / var(--items-per-screen));
    aspect-ratio: 10 / 10;
    padding: var(--img-gap);
    border-radius: 1rem;
    object-fit: cover;
}

.handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 10;
}

.handle:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    transition: transform 150ms ease-in-out;
}

.handle:hover .text {
    transform: scale(1.2);
}

.head {
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
}


.title {
    font-size: 2rem;
    margin: 0;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.progress-bar {
    display: flex;
    gap: .25rem;
}

.progress-item {
    flex: 0 0 1.5rem;
    min-width: 1.5rem;
    height: .5rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.progress-item.active {
    background-color: rgba(0,0,0,0.3);
}

.introduction {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.portfolio-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: rgb(175, 126, 3);
    margin: 2rem 0;
}

.myWork {
    font-size: 3rem;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 2rem;
}

@media (max-width: 1000px) {
    .slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 500px) {
    .slider {
        --items-per-screen: 2;
    }
}

@media (max-width: 500px) {
    .content {
        margin-left: 5%;
    }

    .head {
        width: 90%;
        margin-left: 5%;
    }

    .container {
        width: 90%;
        left: 5%;
    }
}