@import url(modal.css);

body,
html {
    height: 100%;
}

body {
    margin: 0%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    flex-grow: 1;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}

.logo {
    height: 80px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

.right ul {
    list-style: none;
    display: flex;
    gap: 4vw;
    font-size: 1.6rem;
    font-weight: 900;
}

.right a {
    display: block;
    padding-bottom: 5px;
    margin: 10px 0;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    position: relative;
    color: white;
    text-decoration: none;
    background:
    linear-gradient(currentColor 0 0) 0 100% /var(--d, 0) 3px no-repeat,
    linear-gradient(currentColor 0 0) 100% calc(100% - 6px) /var(--d, 0) 3px no-repeat;
    transition: 0s 0.5s, background-size 0.5s;
}

.right a:hover {
    --d: 100%;
    background-position: 0% calc(100% - 3px), 100% calc(100% - 3px);
    transition: 0.3s, background-position 0.3s 0.3s;
}

.logo img {
    max-height: 60px;
    width: auto;
}

.landing-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),url('./images/IMG_6839.JPG');
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin: 0;
}

.content-container {
    width: 100%;
    position: absolute;
    top: 35%;
    display: flex;
    justify-content: space-between;
}

.content {
    margin-left: 20%;
    color: white;
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}

.socials {
    display: flex;
    margin-right: 2vw;
}

.socials ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
}

.socials img{
    width: 3rem;
    filter: brightness(0) invert(1);
    transition: all 0.5s ease 0s;
}

.socials .insta:hover,
.socials .gmail:hover,
.socials .linkedin:hover {
    filter: brightness(1) invert(0);
    transition: all 0.5s ease 0s;
    transform: scale(1.25, 1.25);
}

.author {
    font-size: 4em;
    font-weight: 700;
}

.description {
    font-size: 2em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.main-btn {
    border: none;
    background: #13182e;
    color: #ffffff;
    font-weight: 100;
    font-size: 1.2em;
    padding: 15px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
    background-color: rgb(8, 27, 68);
    background: linear-gradient(270deg, #113966, rgb(8, 27, 68));
}

.main-btn:hover {
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
    background: white;
    transition: all 0.6s ease 0s;
}